# Lecture 14 notebook: Randomized experiment

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from scipy.stats import fisher_exact

In [2]:
resumes_df = pd.read_csv("resume.csv")

In [3]:
resumes_df.race.value_counts()

white    2435
black    2435
Name: race, dtype: int64

In [4]:
tab = pd.crosstab(resumes_df["call"], resumes_df["race"])

In [5]:
tab

race  black  white
call
0      2278   2200
1       157    235

In [6]:
_, p_val = fisher_exact(tab)

In [7]:
p_val

4.75874710790131e-05